include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/harvester4chem *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/harvester4chem/migration *.ini *.py *.mako
